<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>carlosgaldino.emoji-codes</string>
	<key>connections</key>
	<dict>
		<key>48F47C79-01A7-4C1D-8239-1DAF1D54F7E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy ":{query}:" to clipboard</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E3177611-6C51-4BC1-BE47-608823C1FE44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E1633402-43A3-4B78-91D0-8A3EE378C20E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48F47C79-01A7-4C1D-8239-1DAF1D54F7E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E3177611-6C51-4BC1-BE47-608823C1FE44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>143B793E-A860-474A-8BE3-F88BCEB134E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carlos Galdino (@carlosgaldino)</string>
	<key>description</key>
	<string>Search emoji codes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Emoji codes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>emoji</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>ruby emoji.rb "{query}"</string>
				<key>title</key>
				<string>Search emoji codes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>48F47C79-01A7-4C1D-8239-1DAF1D54F7E6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>:{query}:</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2404AE08-D4CF-4265-B7BB-44043DD356DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E1633402-43A3-4B78-91D0-8A3EE378C20E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ruby emoji_to_symbol.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3177611-6C51-4BC1-BE47-608823C1FE44</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>143B793E-A860-474A-8BE3-F88BCEB134E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>143B793E-A860-474A-8BE3-F88BCEB134E1</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2404AE08-D4CF-4265-B7BB-44043DD356DD</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>48F47C79-01A7-4C1D-8239-1DAF1D54F7E6</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>E1633402-43A3-4B78-91D0-8A3EE378C20E</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>E3177611-6C51-4BC1-BE47-608823C1FE44</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/carlosgaldino/alfred-emoji-workflow</string>
</dict>
</plist>
